{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <div class="form">
        <form class="otp-form" method="POST" action="{% url 'home:submit_otp' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="text">Enter OTP:</h4>
            <input type="text" id="otp" name="otp" class="otp-input" required>

            <br><br>
            <span class="message">{{msg}}</span>
        </form>
        <a href="{% url 'home:submit_otp' %}">
            <button class="submit-button">Submit</button>
        </a>
    </div>
</body>

</html>